{% extends "discounts/base.html" %}
{% load static %}

{% block title_css %}
    <title>Акции и скидки</title>
    <link rel="stylesheet" href={% static "css/discounts.css" %}>
{% endblock title_css %}

{% block main_content %}
    <div class="tiles-container">
        {% for discount in discounts %}
        <div class="tile">
            <div class="partner-image" style="background-image: url('{{ discount.image }}')"></div>
            <h3>{{ discount.name }}</h3>
            <p>{{ discount.how_get }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock main_content %}